.acomodo{
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  text-align: center;
  width: 2.5em;
}
.fa-stack-1x, .fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
ul {
font-family: 'Orbitron', sans-serif;
font-size: 20px;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;

}

li {
float: left;
}
.text-center {
  text-align: center;
}
li a {
display: block;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
body{
  background-image: url('../img/dj.jpg ');
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
section.uno{
font-family: 'Orbitron', sans-serif;
text-align: center;
color: #FFFFFF;
  padding-top: 15%;
  padding-bottom: 15%;
  margin-top: 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navbar{
margin-bottom: 0px;
font-family: 'Orbitron', sans-serif;
background-image: url('../img/dj.jpg');
border: 0;
}
section.dos{
background-color: white;
}
#espacio{
margin-top: 100px;
}
.post-preview{
font-family: 'Patua One', ;
}
#blanco{
color: white;
}
.link { color: black; }
.link:hover { color: #0085a1; text-decoration:none;  }
.link:visited{ color: #0085a1; text-decoration:none;  }
.link:active{ color: #0085a1; text-decoration:none;  }
.links { color: white; }
.links:hover { color: #0085a1; text-decoration:none;  }
.links:visited { color: #0085a1; text-decoration:none;  }
.links:active{ color: #0085a1; text-decoration:none;  }
#older{
 float:right;
}
#centro{
text-align: center;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  background-color: #0085a1;
  border-color: #0085a1;
}
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.post-meta{
font-size: 18px;
font-style: italic;
margin-top: 0;
color: #868e96;
}
.post-subtitle{
font-weight: 300;
margin: 0 0 10px;
}
.post-title{
font-size: 50px;
font-weight: bold;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: 370px;
}
